body {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(53, 53, 53);
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem;
}

.content-left {
    flex: 2;
    background-color:bisque;
    border: 2px solid black;
    border-radius: 40px;
    padding-right: 50px;
    margin: 20px;
}

.content-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    border: 2px solid rgb(36, 36, 36);
    border-radius: 40px;
    margin: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning {
    display: flex;
    justify-content: center;
    color: red;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.movies, .series, .myself, .connect{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.ul-ol {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 30px;
}

.myself-text { 
    font-size: 1.2rem;
}

.cat { 
    width: 700px;
    margin: 100px;
    border: 2px solid;
    border-radius: 40px;
}
