body {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(53, 53, 53);
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: bisque;
    border: 1px;
    border-radius: 50px;
    margin-inline-start: 70px;
    margin-right: 72px;
}

.header > a {
    padding: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 3.5rem;
}

.content-left {
    flex: 2;
    background-color:bisque;
    border: 2px solid black;
    border-radius: 40px;
    padding-right: 50px;
    margin: 20px;
}

.content-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    border: 2px solid rgb(36, 36, 36);
    border-radius: 40px;
    margin: 20px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning {
    display: flex;
    justify-content: center;
    color: red;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.movies, .series, .myself, .connect{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.ul-ol {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 30px;
}

.myself-text { 
    font-size: 1.2rem;
}

.cat { 
    width: 700px;
    margin: 100px;
    border: 2px solid;
    border-radius: 40px;
}

.page2-text {
    padding-block: 70px;
    color: rgb(238, 197, 163);
}

.container {
    display: block;
    background-color: beige;
}

.container > img{
    width: 200px;
    margin: 0px auto;
}


.block {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    margin: 0px auto;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 600px;
    
}

.block-2 {
    width: 200px;
    height: 200px;
    background-color: burlywood;
}

